$font-family1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-family2: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family3: Verdana, Geneva, Tahoma, sans-serif;
$font-family4: 'Josefin Sans', sans-serif;

$font-size1: 17px;
$font-size2: 20px;
$font-size3: 50px;

$color1: red;
$color2: white;
$color3: gray;
$color4: black;
$color5: #0b1c39;
$color6: #4a4a4b;
$color7: aliceblue;